/* application Nutrigeo et Fren100 par Sebastien Delalande et *Kevin Tourat*  */
/* Pour Mr Charles Vaury, Gaiago dépositaire de la marque Free N100 © Officiel */

/* Sommaire

 -1 Responsive all

 -2 card-body "encadrement produit et texte" 

 -3 input "admin.php", input formulaire, input calculatrice

 -4 responsive vidéo
       4.1*vidéo youtube class bootstrap

 -5 responsive carousel, translate => JS

 -6 général.......html

 -7 class bootstrap général

 -8 calculatrice

 -9 MINI-FOOTER et FOOTER 
  - Bandeau cookie  */



* { margin:0; padding: 0; box-sizing:border-box !important; font-family: calibri, Arial, Helvetica, sans-serif;}

/*.......................... responsive all*............................*/
@media (max-width:1024px) {
	



}

@media (max-width:600px) {
    header{ padding: 0 0 10em !important; background-image: url(../image/arbre_gaiago_mobile.jpg) !important; background-size: cover;}

    *{margin:0; padding:0; box-sizing:border-box !important;}
    .produit_txt{text-align: center !important; margin-left:5px !important; position: relative !important; padding: 5em 0 5em !important;}
    .embed-responsive-21by9{
        width: 100% !important; 
        
    }
    .embed-responsive-item, .embed-responsive-16by9{
        width: 100% !important;
       
    }

    .embed-responsive{margin-left: 0 !important; margin-right: 0 !important; width: 100% !important;}

    .img-fluid{
        padding-top:40px !important;
    } 
    .float{
        
        position: relative;
        max-width: 30%;
        
    }
    .logo-head{
        width: 45%;
        
       margin-left: 0 !important;
       margin-right: 0 !important;
        
       
    
    }

    #card-cal{width: 90% !important;}
    
    .select-culture:hover{width: 100%;}
    .culture-input{width: 100%;}
    .surface-input{width: 126px;}
    .prix-input{width: 126px;}
    .col{display: block; margin-left: auto !important;
        margin-right: auto !important;}
        

}

/* ........................card-body bootstrap......................... */

.card-body{
    box-shadow: 10px 5px 5px #00000083;
    
}
.center_card-body{
    padding-top: 200px !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}



/*........input admin.php, input formulaire, input calculatric........... */

.form-control{
    width: 250px !important;
    text-align: center !important;
    
    flex-direction: column !important;
}
 .form-group{
    
    text-align: center !important;
    align-items: center !important;
    flex-direction: column !important; 
}

.center_admin{
    
    display: flex ;
    align-items: center !important;
    flex-direction: column !important;
}

#btn-admin{
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}
/* .................responsive vidéo........................... */

/* vidéo youtube class bootstrap */

/* .embed-responsive,
.embed-responsive-1by1,
.embed-responsive-4by3,*/
.embed-responsive-16by9,
.embed-responsive-21by9{
    width: 55% !important;
    height:55% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    flex-direction: column !important;
    
}

/*.............................général.......html......................... */



header{
    padding: 0em 0 29em; 
    margin-left: 0 !important;
    margin-right: 0 !important;

    background-image: url(../image/arbre_gaiago3.jpg) !important;
    background-size: cover;

}

.logo-head{
 
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    flex-direction: column !important;

} 

body{
    
    background-color: #f8f8f8 !important;

}

svg, a{
    width: 40px;
    color: #fff;

}

h1, h4, h6{
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 30px;

    
}

a{ 
    color: #fff !important; 
    }

a:hover {
    color: #fff !important;
    text-shadow: 1px 1px 1px #2d49a3, 1px 0px 2px #5498f093 !important;
    

}

.img-fluid{ width: 100%;}

img{ max-width: 100%; height: auto;}

.txt_form{text-align: center !important;}

/* ......................class bootstrap................................ */

.row{
    
    text-shadow: black !important;
    padding: 0 !important;
    margin: 0 !important;


}
.text-center{
    
    padding: 0 !important;
    margin-left: 16px;
    margin-right: 15px;

}


/* ........................témoignage et video........................ */



.rounded-circle, .container{

    flex-direction: column !important;
    text-align: center;
    align-items: center;
    
}


.temoignage_p{

    padding-top: 20px;
    text-align: center;

}

/* ............................calculatrice ..........................*/

form.calculator{
   
    
    display: flex;
    align-items: center !important;
    flex-direction: column !important;
    text-align: left;
    margin-left: 5px !important;
    border-color: white !important;
    font-weight: bold !important;
    
    
}

 .digit, #btn_cal, .form-control{
    text-align: center;
    margin-left: 5px !important;
    padding: 5px !important;
    border-radius: 8px;
    font-weight: bold !important;
    
}

    hr {
        height: 3px;
	    border: 0;
        background-color: #f0e9e9;
        color: white;
        font-weight: bold !important;
    }

#calculator-hover{
    background-image: url(../image/calculator3.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(32, 30, 30, 0.822) !important;
    color:#f8f8f8;
    text-shadow: 3px 5px 2px #080808, 2px 9px 4px #000000 !important;
    font-weight: bold !important;
}

/* #calculette{
    display: none;
} */

/* test */
#card-cal{
    line-height: 10px;
    width: 25rem; 
    background: #e8e8e8;
    border-radius: 10px;
    text-align: left;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
                5px 5px 15px rgba(0,0,0,0.5);

    border-width:3px;           
    border-color:  #13aa27;            
}


.culture-input{ width: 100%;}
.select-culture{
    width: 94%; 
    margin-left: 5px !important;
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    /* flex-direction: column !important;  */
    margin-top: 10px;
   
    
    padding:2em;
    border-style: solid;
    border-width:2px;           
    border-color:  #13aa27;

 }
.custom-range{
   
    padding: 0 4% 0; 
    color: rgb(34, 32, 32);
    
    
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.315);

    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

      

}

/* Rectangle 112 */



input[type="range"]{ 
    width: 92%;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    background-color: #eef3f5;
    
  
    
    
}
select{

    width: 92%;
    text-align: center;
    margin-left: 5px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    flex-direction: column !important;  
    padding: 8px;
    border-radius: 20px;
    outline: none;
    color: #1b1c1d;
    
}

.readonly{
    width: 92%;
    text-align: center;
    margin-left: 5px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    flex-direction: column !important;  
    padding: 8px;
    border-radius: 20px;
    
    color: #1b1c1d;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.01),
                inset 2px 2px 6px rgba(0, 0, 0, 0.315);

                
               
}

.prix-input, .surface-input{
   
    
    width: 100%;
    height: 40px;
    background-color: #e3e4e9;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 15px;
    color: rgb(34, 32, 32);
    
    color: #131414;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.473),
                inset 2px 2px 6px rgba(0, 0, 0, 0.514);

    border-style: solid;
    border-width:2px;           
    border-color:  #13aa27;
}
label{ font-size:smaller;} 
.col{

    margin-top: 0 !important;
   
    text-align: left;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin: 1px;
    padding: 10px;
    border-style: solid;
    border-width:2px;           
    border-color:  #13aa27;
}

.col2{
    margin-top: 0;
   
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width:2px;           
    border-color:  #13aa27;
    background-color: #e8e8e8;

}
.col3{
    margin-top: 0;
   
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width:2px;           
    border-color:  #13aa27;
    background-color: #21802ecb;

}


input::placeholder{

    color:rgb(24, 23, 23);
    


}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 27px;
    background: #13aa27;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }

#resultat{background-color: #fff;}
/* ..............................MINI-FOOTER................................... */

.sm_footer{
    background-color:#ea9352 !important;
    text-align: center;
}
.sm_hidden{
    visibility: hidden;
}

/* .................................FOOTER.................................. */

footer{
    text-align: center;
    padding: 10px;
    background-color: #064929;
    
   
    font-weight: bold ;
    font-size: 1em;
    /* text-shadow: 1px 1px 1px #69aed3, 1px 1px 1px #000000 !important; */
    color: #fff;
    z-index: 0;
 
}


.btncookie{
    background-image: url(../image/logo_gaiago_small.png);
    background-repeat: no-repeat;
    color:#fff;
    padding: 1em 0 1em;
    text-align: center;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 999999;
     visibility: hidden;
    
}
.rgpd-cookie{ color:rgb(245, 120, 37) !important;}
.btn-outline-light{
    width: 70px;
    margin-left: 70px; 
    margin-right: 70px; 
   
    


}

.img-footer{

    width: 40px;
}

/* carousel */

